<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://robofrog.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/43b9e7fb-b1f8-4116-87a9-b43e5875e2d4/resourceGroups/RoboFrog/providers/Microsoft.Web/sites/RoboFrog</ResourceId>
    <UserName>$RoboFrog</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://robofrog.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>